[Unit]
Description=Markd Flask app
After=network.target

[Service]
User=derek
Group=www-data
WorkingDirectory=/var/www/markd
EnvironmentFile=/var/www/markd/.env
RuntimeDirectory=markd
RuntimeDirectoryMode=0775
ExecStart=/var/www/markd/.venv/bin/gunicorn \
  --workers 2 \
  --bind unix:/run/markd/markd.sock \
  --umask 007 \
  --access-logfile /var/log/markd/access.log \
  --error-logfile /var/log/markd/error.log \
  app:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
